@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:wght@100;200;300;400;700;800&family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    background-color: #000;

}


input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none !important;
}

ul {
    list-style-type: none;
    padding: 0;
    /* display: flex; */

}
li {
    width: 150px;
}

a:link, a:visited {
    text-decoration: none;
}
a:hover, a:active {
    color: blue;
    /* text-decoration: line-through; */
}

::-moz-selection { /* Code for Firefox */
    /* color: #0D45BB; */
    background: blue;
  }
  
  ::selection {
    /* color: #0D45BB; */
    background: blue;
  }

/* section {
    margin-bottom: 84px;
} */
.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /* max-width: 736px; */
    margin: 0 auto;
    /* padding: 80px 40px; */
}
.flex {
    display: flex;
    /* align-items: center; */
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-vertical {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.verticalLine {
    /* border-right: 1px solid rgba(255,255,255,.25); */
    /* position: fixed; */
    /* height: 100vh; */
    /* top:0; */
    /* left:264px; */
    /* z-index: 100; */
  }

.pannel-left {
    visibility: hidden;
    min-width: 200px;
    margin: 40px 24px 40px 40px;
    text-align: right;
    position: fixed;
    top:0;
    left: 0;
}
.pannel-right {
    width: 100%;
    text-align: center;
    margin: 150px 40px;
}

.letter-left {
    writing-mode: vertical-rl;
    position: fixed;
    left: 20px;
    top:calc(39%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.letter-right {
    writing-mode: vertical-rl;
    position: fixed;
    right: 20px;
    top:calc(39%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.header-ring {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    /* background-color: #07FF47; */
}
.header-ring marquee {
    width: 100%;
    /* color: black; */
    position: fixed;
    letter-spacing: 0.1rem;
}
.emojis {
    position: fixed;
    bottom: 0px;
    left: 30px;
    display: none;
}
.emojis img {
    width: 100px;
    transform: rotate(10deg);
}


.nav {
    display: inline-block;
    margin-bottom: 50px;
}
.thumb-images {
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    margin-bottom: 10px;
    text-align: center;
    max-width: 100vw;
}
.thumb-images img {
    width: 700px;
    text-align: center;
    margin-bottom: 50px;
}
.thumb-image {
    width: 700px;
    margin: 0 auto 100px auto;
    /* margin-bottom: 100px; */ 
}
.nametag {
    /* border: 1px solid rgba(255, 255, 255, 0.7); */
    display: inline-block;
    vertical-align: bottom;
    padding: 10px;
}
/* .thumb-images img:nth-child(odd) {
    text-align: left;
}
.thumb-images img:nth-child(even) {
    text-align: right;
}    */


.oval {
    /* background-image: url("/pf/oval.png");
    background-size: contain; */
    width: 200px;
    height: 50px;
    position: fixed;
    border: 1px solid #5391FF;
    color: #5391FF;
    border-radius: 50%;
    text-align: center;
    bottom:40px;
    right: 50px;
    transform: rotate(-8deg);

}
.oval:hover {
    bottom:45px;
    right:55px;
    cursor: pointer;
}
.object, .object img {
    /* height: 60px; */
    height: 0;
}
.object:hover {
    cursor: all-scroll;
}
.drag-wrapper {
    margin:0;
    padding: 0;
    position: fixed;
}
.section-images img {
    /* max-width: 1000px; */
    width: 700px;
    margin-bottom: 100px;
}
.selected p {
    color: #5391FF;
}

/*Margins*/
h1 {
    /* margin-bottom: 15px; */
    /* width: 736px; */
}


.mg-nav {
    margin-bottom: 150px;
}
.mg-big {
    margin-bottom: 84px;
}
.mg-small {
    margin-bottom: 40px;
}
.mg-tiny {
    margin-bottom: 20px;
}
.bt-basic {
    transition-duration: 0.2s;
    background-color: #fff;
    /* font-family: "Montserrat", "Nanum Gothic", sans-serif; */
    border: 3px solid #000;
    height: 82px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.bt-blue {
    background-color: #fff;
    color : #0D45BB;
    /* font-family: "Montserrat", "Nanum Gothic", sans-serif; */
    border: 3px solid #0D45BB;
    height: 82px;
    padding: 0 20px;
    font-size: 24px;
    font-weight: bold;
}

.bt-blue:hover {
    -webkit-transition: background-color 0.5s, color 0.5s linear;
    -ms-transition: background-color 0.5s, color 0.5s linear;
    transition: background-color 0.5s, color 0.5s linear;

    cursor: pointer;

    background-color: #0D45BB;
    color: #fff;
    border: 3px solid #0D45BB;
}

@media (max-width:768px) {

    .pannel-right {
        margin: 150px 0px;
    }
    .thumb-images img {
        width: 380px;
        text-align: center;
    }
    .thumb-image {
        width: 380px;

    }
    .thumb-images {
        display: inline-block;
    }
    .section-images img {
        /* max-width: 1000px; */
        width: 380px;
        margin-bottom: 100px;
    }
}
